#login {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.form-wrapper {
  background-color: #131722;
  box-shadow: 0 0 2px 0 #3a3e47;
  width: 500px;
}

@media (max-width: 600px) {
  .form-wrapper {
    background-color: #131722;
    box-shadow: 0 0 2px 0 #3a3e47;
    width: 300px;
  }
}
