#login-form {
  margin: 3rem 4rem;
}

#login-form h2 {
  color: #d1d5d7;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.login-field {
  margin-bottom: 0.25rem;
  width: 100%;
}

#login-form input {
  background-color: #0f131c;
  border: 1px solid #3a3e47;
  color: #d1d5d7;
  height: 3rem;
  margin-bottom: .2rem;
  padding: 1rem;
  width: 100%;
}

.login-button {
  background-color: #489fff;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  height: 3rem;
  margin-top: 0.5rem;
  opacity: 0.9;
  width: 100%;
}

@media (max-width: 600px) {
  #login-form {
    margin: 2rem 2rem;
  }
}
